.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px orange;
}

.note {
    font-size: 15px;
    color: salmon;
}

footer{
    background-color:plum;
    position: fixed;
    color: lightseagreen;
    bottom: 0;
    width: 100%;
    line-height: 2;
    text-align: center;
}

canvas{
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 5px 5px 5px orange;
}